fastapi==0.115.12
uvicorn[standard]==0.34.3

# Authentification JWT
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
passlib[bcrypt]==1.7.4

# MongoDB async
motor==3.7.1
pymongo==4.13.0

# Variables d'environnement
python-dotenv==1.1.0

# Validation des schémas
pydantic==2.11.5
pydantic-settings==2.1.0
email-validator==2.2.0

# Core dependencies
annotated-types==0.7.0
click==8.2.1
dnspython==2.7.0
pydantic_core==2.33.2
typing-inspection==0.4.1

# Tests
requests==2.32.3
typing_extensions==4.13.2
